<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All StartUp</title>
    <!-- fonts google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- end font  -->
    <style>
       
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }

        .navbar {
            display: flex;
            align-items: center;
            background-color: dodgerblue;
            gap: 1rem;
        }

        .navbar a {
            color: #fff;
            padding: 10px;
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: 500;
            transition: 0.3s linear;
        }

        .navbar a:hover {
            color: #ccc;
            text-decoration: underline;
        }

        .navbar .logo {
            font-size: 1.6rem;
            font-weight: 500;
        }

        .navbar .active {
            color: yellowgreen;
            font-weight: 700;
            text-decoration: underline;
        }

        .navbar .link {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            padding: 0 20px;
            gap: 1rem;
        }

        .roles {
            background-color: dodgerblue;
            display: inline-block;
            margin: 15px 20px;
            padding: 10px 20px;
            color: #fff;
        }

        .roles a {
            text-decoration: none;
            font-size: 1.2rem;
            padding: 0 10px;
            color: #fff;
        }

        .roles a:hover {
            text-decoration: underline;
            color: #ddd;
        }
        
        .table-wrapper {
            margin: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 40vh;
            overflow-y: scroll;
        }

        .table-wrapper tr #detail {
            background-color: dodgerblue;
            padding: 10px 20px;
            color: #fff;
            border-radius: 0.6rem;
        }

        .table-wrapper tr .detail a:hover {
            background-color: rgb(13, 61, 108);
        }

        tr:nth-child(even) {
            background-color: #ccc;
        }
        
        span {
            visibility: hidden;
        }

        th {
            border-bottom: 2px solid black;
            padding: 10px;
            font-size: 1.4rem;
        }

        td {
            text-align: center;
            padding: 15px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }
        
        /* responsive */
        @media screen and (min-width: 480px) {
            body {
                font-size: 90%;
            }

            th {
                font-size: 1rem;
            }
        }

    </style>
</head>
<body style="background-color: #f5f5f5;">
    <div class="navbar">
        <a href="/" class="logo">The incubator</a>

        <div class="link">
            <a href="/">Home</a>
            <a href="/incubators/add">Add New Incubator</a>
            <a href="#" class="active">Startup</a>
        </div>
    </div>

    <div class="roles">
        <a href="/startup">All</a>|
        <a href="startup?filter=Hustler">Hustler</a>|
        <a href="startup?filter=Hacker">Hacker</a>|
        <a href="startup?filter=Hipster">Hipster</a>|
    </div>

    <div class="table-wrapper">

        <table>
            <tr>
                <th>Start-Up Name</th>
                <th>Founder Name</th>
                <th>Age</th>
                <th>Education</th>
                <th>Role of founder</th>
                <th>Valuation</th>
                <th>Action</th>
            </tr>
            <% data.forEach(el => { %>
            <tr>
                <td><%= el.startUpName %></td>
                <td><%= el.founderName %></td>
                <td><%= el.getAge() %></td>
                <td><%= el.educationOfFounder %></td>
                <td><%= el.roleOfFounder %></td>
                <td><%= formatter(el.valuation) %></td>
                <td><a href="/incubators/<%= el.id %>" id="detail" title="show detail" >Edit</a><span>A</span><a href="/incubators/<%= el.id %>" id="detail" title="show detail" >Delete</a></td>
             
                
            </tr>
            <% }) %>

    
        </table>

    </div>

    <% let output = 0 %>

    <% data.forEach(el => { %>
        <% output += el.valuation %>
    <% }) %>
    <p style="margin: 0 20px; font-weight: bold; font-size: 1.1rem;">Valuation of incubator:  <%= formatter(output) %></p>

</body>
</html>